<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.1.1/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600&display=swap" rel="stylesheet">
    
    {% load static %}
    
    {% comment %} <link rel="stylesheet" type='text/css' href="{% static 'dashboard/styles/flatty.css' %}"> {% endcomment %}
    <link rel="stylesheet" type='text/css' href="{% static 'dashboard/styles/morph.css' %}">
    {% comment %} <link rel="stylesheet" type='text/css' href="{% static 'dashboard/styles/pulse.css' %}"> {% endcomment %}
    {% comment %} <link rel="stylesheet" type='text/css' href="{% static 'dashboard/styles/darkly.css' %}"> {% endcomment %}
    {% comment %} <link rel="stylesheet" type='text/css' href="{% static 'dashboard/styles/solar.css' %}"> {% endcomment %}
    {% comment %} <link rel="stylesheet" type='text/css' href="{% static 'dashboard/styles/zephyr.css' %}"> {% endcomment %}
    {% comment %} <link rel="stylesheet" type='text/css' href="{% static 'dashboard/styles/lumen.css' %}"> {% endcomment %}
    {% comment %} <link rel="stylesheet" type='text/css' href="{% static 'dashboard/styles/united.css' %}"> {% endcomment %}
    {% comment %} <link rel="stylesheet" type='text/css' href="{% static 'dashboard/styles/minty.css' %}"> {% endcomment %}
    {% comment %} <link rel="stylesheet" type='text/css' href="{% static 'dashboard/styles/quartz.css' %}"> {% endcomment %}
    {% comment %} <link rel="stylesheet" type='text/css' href="{% static 'dashboard/styles/simplex.css' %}"> {% endcomment %}
    <link rel="stylesheet" type='text/css' href="{% static 'dashboard/bootstrap-icons/bootstrap-icons.css' %}" >    
    {% block css %}{% endblock css %}

    <title>{% block title %}{% endblock title %}</title>
</head>

<body>
    {% include "./company/topMenu.html"  %}
    {% comment %} {% include "./company/expendableDrawer.html" %} {% endcomment %}
    <div class="container">
        {% block body %}
        {% endblock body %}
    </div>

    <script src="{% static 'dashboard/js/bootstrap-jquery.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
    integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
    crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
    integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
    crossorigin="anonymous"></script>
    {% comment %} <script src="{% static 'dashboard/js/adminList.js' %}"></script> {% endcomment %}
    
    
    {% block script %}{% endblock script %} <!-- get script files from other components html pages -->    
</body>

</html>